# env
.venv/
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# data
data/camvid/
!data/.gitkeep

# model files
*.pth
*.pt
*.ckpt

# MLflow logs and artifacts
mlruns/
mlartifacts/

# DVC local cache
.dvc/cache/
.dvc/tmp/

# env files
.env

# credentials
gcp-key.json

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/mlflow.db
mlartifacts/
.ipynb_checkpoints/
PROGRESS.md
